/extern/resources/*/*libs.txt
/extern/resources/*/*/
build/netbeans/pythonGui/nbproject/*
build/netbeans/*/nbproject/Makefile-*.mk
build/netbeans/*/nbproject/private
build/python/build/
dist/
/private/*
GNU-Linux-x86
*.pyc
.*
*~
*.orig
package/
run/bin/allInfo
run/etc/*.log
run/packages/
run/servers/*/serverId.xml
run/servers/*/device-server.log*
run/servers/*/lastConfiguration.xml
run/servers/*/plugins
run/servers/dataLoggerServer/karaboHistory
run/servers/dataLoggerServer/loggermap.xml
run/servers/projectServer/projects/
src/karabo/tests/io/resources/*
build/netbeans/*/*.log
!.gitignore
