/extern/resources/*/*.txt
/extern/resources/*/*/
/extern/resources/*/*.whl
/extern/*.tar.gz
!/extern/resources/openmqc/openmqc-5.0.1/
/extern/resources/openmqc/openmqc-5.0.1/include
/extern/resources/openmqc/openmqc-5.0.1/lib
/extern/resources/openmqc/openmqc-5.0.1/nbproject
/extern/resources/openmqc/openmqc-5.0.1/build/
build/netbeans/pythonGui/nbproject/*
build/netbeans/*/testresults
build/netbeans/*/nbproject/Makefile-*.mk
build/netbeans/*/nbproject/private
build/netbeans/*/nbproject/Package-*.bash
build/netbeans/*/*/nbproject/Makefile-*.mk
build/netbeans/*/*/nbproject/private
build/netbeans/*/*/nbproject/Package-*.bash
build/netbeans/*/*/*/nbproject/Makefile-*.mk
build/netbeans/*/*/*/nbproject/private
build/netbeans/*/*/*/nbproject/Package-*.bash
dist/
doc/concepts/colors.rst
/private/*
cmake-*
GNU-Linux-x86
GNU_MacPorts-MacOSX
*.pyc
*.egg-info
.*
*.profraw
*~
*.orig
/karabo
package/
run/bin/allInfo
run/etc/*.log
run/packages/
run/servers/karaboHistory/*
run/servers/*/serverId.xml
run/servers/*/device-*.log*
run/servers/*/lastConfiguration.xml
run/servers/*/plugins
run/servers/dataLoggerManagerServer/loggermap.xml
run/servers/projectServer/projects/
src/karabo/tests/io/resources/*
src/pythonKarabo/build/
src/pythonKarabo/dist/
src/pythonKarabo/pythonTest.xml
src/pythonKarabo/karabo/_version.py
src/pythonGui/build/
src/pythonGui/dist/
_version.py
/src/karabo/util/repositoryVersion
build/netbeans/*/*.log
build/python/*.exe
!.gitignore
*openMQLib.log.*
/build/netbeans/karabo/build/
/build/netbeans/karathon/build/
/build/netbeans/deviceServer/build/
/build/netbeans/brokerMessageLogger/build/
/build/netbeans/integrationTests/build/
/build/netbeans/cppLongTests/build/
/build/netbeans/tools/brokerRates/build/
/build/netbeans/tools/dataLoggerIndex/idxview/build/
/build/netbeans/tools/dataLoggerIndex/idxbuild/build/
/ci/coverage/report/*.info
/ci/coverage/report/out/
/ci/coverage/report/????-??-??_????_unitTest
/ci/coverage/report/????-??-??_????_integrationTest
/ci/coverage/report/*.zip
/ci/coverage/pyReport/
junit*.xml
junitoutput.xml
# Conda stuff
*environment.yml
/src/pythonGui/conda-recipe/meta.yaml
