services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host

variables:
  INFLUXDB_DB: "InfluxLogTest"
  INFLUXDB_HTTP_AUTH_ENABLED: "true"
  INFLUXDB_ADMIN_USER: "infadm"
  INFLUXDB_ADMIN_PASSWORD: "admpwd"
  INFLUXDB_USER: "infusr"
  INFLUXDB_USER_PASSWORD: "usrpwd"

.build_template: &build
  script:
    - source ci/prepare "$CI_BUILD_NAME"
    - source ci/build "$CI_BUILD_NAME"

.test_template: &test
  script:
    - source ci/prepare "$CI_BUILD_NAME"
    - source ci/test "$CI_BUILD_NAME"

.release_build: &release-build
  <<: *build
  only:
    - /^(\d+\.)(\d+\.)(\d+)((a|b|rc|\.)\d+)?$/
  except:
    - branches
    - schedules

.release_build_win64: &release-build-win64
  script:
    # Our gitlab runner is not properly logged as xkarabo so we need this little hack for now
    - $env:Path += ";C:\Users\xkarabo\miniconda3\;C:\Users\xkarabo\miniconda3\Library\mingw-w64\bin;C:\Users\xkarabo\miniconda3\Library\usr\bin;C:\Users\xkarabo\miniconda3\Library\bin;C:\Users\xkarabo\miniconda3\Scripts"
    - $env:Path += ";C:\Users\xkarabo\cwrsync"
    - $env:Path += ";C:\Users\xkarabo\plink"
    # Add xkarabo home
    - $env:HOME = "C:\Users\xkarabo\"
    - cmd /c .\ci\miniconda\build.cmd
    - cmd /c .\ci\miniconda\deploy.cmd
  only:
    - /^(\d+\.)(\d+\.)(\d+)((a|b|rc|\.)\d+)?$/
  except:
    - branches
    - schedules

.nightly_build: &nightly-build
  <<: *build
  only:
    - schedules

.deps_build: &deps-build
  <<: *build
  only:
    - /^deps-.+$/
  except:
    - branches
    - schedules

.integration_tests: &integration-tests
  <<: *test
  only:
    - master
  except:
    - schedules

.unit_tests: &unit-tests
  <<: *test
  only:
    - branches
  except:
    - master
    - schedules
    - /^deps-mr-.+$/

.deps_build_tests: &deps-build-tests
  script:
    - source ci/prepare "$CI_BUILD_NAME"
    - source ci/build "$CI_BUILD_NAME"
    - source ci/test "$CI_BUILD_NAME"
  only:
    - /^deps-mr-.+$/
  except:
    - master
    - schedules

### Jobs

# release build

release build centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *release-build

release build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *release-build

release build ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *release-build

release build miniconda:
  image: europeanxfel/karabo-ci:miniconda-3
  <<: *release-build
  
release build miniconda-osx64:
  tags:
    - macos
  <<: *release-build

release build miniconda-win64:
  tags:
    - Win10
  <<: *release-build-win64

# nightly release build

nightly build centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *nightly-build

nightly build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *nightly-build

nightly build ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *nightly-build

# Dependencies build

deps build centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *deps-build

deps build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *deps-build

deps build ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *deps-build

# Dependencies build tests

deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *deps-build-tests

deps tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *deps-build-tests

deps tests ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *deps-build-tests

# MR test builds

unit tests centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *unit-tests

unit tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *unit-tests

unit tests ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *unit-tests

unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3
  <<: *unit-tests

unit tests miniconda-osx64:
  tags:
    - macos
  <<: *unit-tests
  
unit tests miniconda-cmake:
  image: europeanxfel/karabo-ci:miniconda-3
  <<: *unit-tests

  # Post-merge integration test builds

integration tests centos7:
  image: europeanxfel/karabo-ci:centos-7
  <<: *integration-tests

integration tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  <<: *integration-tests

integration tests ubuntu16:
  image: europeanxfel/karabo-ci:ubuntu-16
  <<: *integration-tests
