sphinx
sphinx-rtd-theme
readthedocs-sphinx-ext
git+https://git.xfel.eu/xfel-rtd/rtd-conf.git
slumber
numpy
typing
breathe
# cannot be easily mocked. Traits uses extensively class methods
traits
# Cannot mock this since an ABC Mixin is used for ExistDBHandle
pyexistdb
pint
