# This file is part of Karabo.
#
# http://www.karabo.eu
#
# Copyright (C) European XFEL GmbH Schenefeld. All rights reserved.
#
# Karabo is free software: you can redistribute it and/or modify it under
# the terms of the MPL-2 Mozilla Public License.
#
# You should have received a copy of the MPL-2 Public License along with
# Karabo. If not, see <https://www.mozilla.org/en-US/MPL/2.0/>.
#
# Karabo is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
{% set xfel_conda_channel = os.environ.get('XFEL_CONDA_CHANNEL', 'exflctrl01.desy.de') %}
{% set conda_local_channel = os.environ.get('CONDA_LOCAL_CHANNEL_ENV', '') %}
name: karabogui

channels:
  - http://{{ xfel_conda_channel }}/karabo/channel
  - http://{{ xfel_conda_channel }}/karabo/channel/mirror/conda-forge
  - conda-forge
{{ conda_local_channel }}

dependencies:
  - python=3.12.*
  # for tests and building
  - flake8=6.1.0
  - isort=5.8.0
  - pytest=7.4.4
  - pytest-qt=4.3.1
  - pytest-cov=2.12.1
  - pytest-mock=3.6.1
  - pytest-subtests=0.11.0
  - pytest-xdist=3.5.*
  - setuptools>=69.*
  - setuptools_scm>=7.*
  - pip>=23.3.*
  # GUI
  - qtpy=2.4.1
  - pyqtgraph=0.13.3
  - qt-main=5.15.*
  - pyqt=5.15.9
  - qscintilla2=2.14.0
  # Plotting and utils
  - numpy=2.1.3
  - scipy=1.14.0
  - lttbc=0.2.4
  - natsort=6.2.0
  # Other
  - cycler=0.10.0
  - tabulate=0.8.9
  - traits=6.4.3
  - lxml=5.1.*
  - requests=2.28.1
  - python-dateutil=2.9.0
  - conda
  - pyyaml=6.0.1
  - pint=0.24.3
  - typing-extensions=4.12.2

environment:
  PYTHONPATH:
    - {{ root }}
  KARABO_GUI_ROOT:
    - {{ root }}
  OMP_NUM_THREADS: 1
