{% set xfel_conda_channel = os.environ.get('XFEL_CONDA_CHANNEL', 'exflserv05.desy.de') %}
{% set conda_local_channel = os.environ.get('CONDA_LOCAL_CHANNEL_ENV', '') %}
name: karabogui

channels:
  - http://{{ xfel_conda_channel }}/karabo/channel
  - http://{{ xfel_conda_channel }}/karabo/channel/mirror/conda-forge
  - conda-forge
  - defaults
{{ conda_local_channel }}

dependencies:
  - python=3.6.7=he025d50_1005 # [win]
  - python=3.6.* # [linux]
  - python=3.6.* # [osx]
  # for tests and building
  - flake8=3.8.4
  - pytest=6.1.1
  - pytest-qt=3.3.0
  - setuptools=49.6.0
  - setuptools_scm=5.0.1
  # GUI
  - qt=5.12.9
  - qtpy<=1.9
  - pyqt=5.12.3
  - pyqtgraph=0.11.1
  - qtconsole=5.0.2
  - ipython=7.13.0
  - ipykernel=5.2.0
  # Plotting and utils
  - numpy=1.19.5
  - scipy=1.4.1
  - lttbc=0.2.0
  # Other
  - cycler=0.10.0
  - traits=6.0.0
  - lxml=4.4.1
  - requests=2.25.1
  - python-dateutil=2.8.1
  - jupyter_client=6.0.0
  - conda=4.9.2
  # Pint should come from native, but we require a higher pint version due
  # to a numpy upgrade. Since, we cannot upgrade pint for native, we
  # run with a different defined pint version here. The GUI does not rely
  # on KaraboValues from native.
  - pint=0.16.1

environment:
  PYTHONPATH:
    - {{ root }}
  KARABO_GUI_ROOT:
    - {{ root }}
  OMP_NUM_THREADS: 1
