# This file is intended to be used together with Karabo:
#
# http://www.karabo.eu
#
# IF YOU REQUIRE ANY LICENSING AND COPYRIGHT TERMS, PLEASE ADD THEM HERE.
# Karabo itself is licensed under the terms of the MPL 2.0 license.

variables:
  USE_ISORT: "true"
  USE_FLAKE: "true"
  USE_LEGACY_PYTEST: "false"

include:
  - project: karabo/gitlabci
    file: .python-ci.yml
    ref: main
